            <!--Gallery-->
<container style="min-height:950px;">
    <section class="row" style="margin:5% auto;min-height:400px;border-top: thin solid #cecece ">

        <article id="title-box"> <div id="title">Gallery </div> <div id="triangle-topleft"></div> </article>
        <div class="col-12 col-m-12">
            <a class="example-image-link col-13 col-m-8" id="mini-container-3" ng-repeat="gallery in galleries" href="../../../Handler/galleryImageHandler.ashx?id={{gallery.id}}" data-lightbox="example-set" data-title="{{gallery.caption}}" id="mini-container-3" style="background-image:url('../../Handler/galleryThumbnailHandler.ashx?id={{gallery.id}}');background-size:cover;background-repeat:no-repeat">
                <div class="textTitle">
                </div>
            </a>
        </div>
        <div ng-show="loading" class="loading"></div>
        <div class="row" style="text-align:center"><span class="loadMore" ng-click="getAll()"><a>Load More <i class="fa fa-chevron-down"></i></a> </span> <!--<span ng-show="spinner"><i class="fa fa-spinner"></i></span>--></div>
    </section>
    </container>


