            <!--Stories-->
<link rel="stylesheet" href="../../../Content/bootTable.css" />
<container style="min-height:950px;">
    <section class="row" style="margin:5% auto;min-height:400px;border-top: thin solid #cecece ">

        <article id="title-box"> <div id="title">Area of Intervention</div> <div id="triangle-topleft"></div> </article>

        <div class="col-12 col-m-12">
            <div ng-show="loading" class="loading"><h1>LOADING...</h1></div>
            <img src="../../../Images/areaOfInterventions.jpg" width="100%" />

        </div>
    </section>
    </container>


