
<style>   .col-13, .col-m-8{
       min-height:380px;
   }
</style>   

<!--Stories-->
<container style="min-height:950px;">
    <section class="row" style="margin:5% auto;min-height:400px;border-top: thin solid #cecece ">

        <article id="title-box"> <div id="title">Our Approach </div> <div id="triangle-topleft"></div> </article>
        <div class="col-12 col-m-12">
            <div ng-show="loading" class="loading"></div>
            WAC-Nepal strives to uplift the people who are under the poverty and yet not to have the right and opportunity by the government. From this to enhance the capacity and uplift their lives standard .The organization has operating and implementing the various projects regarding to the actual need of the people.

            In order to fulfill vision, mission and goal of WAC, the following areas of intervention are identified:

            <div style="margin: 0 5%;width:100%;text-align:center">

                <article class="col-13 col-m-8">
                    <img src="../../../Images/livelihood.png" width="280" />
                    <h3>Sustainable Livelihood</h3>
                </article>

                <article class="col-13 col-m-8">
                    <img src="../../../Images/health.png" width="280" />
                    <h3>Health, Drinking Water and Hygiene</h3>
                </article>

                <article class="col-13 col-m-8">
                    <img src="../../../Images/education.png" width="280" />
                    <h3>Education and Rights</h3>
                </article>

                <article class="col-4 col-m-8">
                    <img src="../../../Images/disaster.png" width="280" />
                    <h3>Climate Change and Natural Disaster Management</h3>
                </article>

                <article class="col-4 col-m-8">
                    <img src="../../../Images/capacity.png" width="280" />
                    <h3>Capacity Building, Organizational Strengthening and Good Governance</h3>
                </article>

            </div>

        </div>
    </section>
</container>


