            <!--Stories-->
<style>.circle{
    border-radius: 50%;
    border: orange thin solid;
    border-width: 7px;
    box-shadow: 0px 3px 3px #5f5f5f;
    height: 70px;
    width: 70px;
    font-size: 38px;
    text-align:center;
    background-color: orangered;
    color: white;
    margin:20px 0;
}
.col-12, .col-m-12{font-size:16px;font-weight:bold}
</style>
<container style="min-height:950px;">
    <section class="row" style="margin:5% auto;min-height:400px;border-top: thin solid #cecece ">

        <article id="title-box"> <div id="title">Contact Us </div> <div id="triangle-topleft"></div> </article>
        <div class="col-12 col-m-12">
            <div ng-show="loading" class="loading"></div>
            <h2>Working for Access and  Creation –Nepal (WAC-Nepal)</h2><br />
            <div class="col-4 col-m-4">
                <div class="circle">1</div>
                <i class="fa fa-building"></i> Head Office<br />
                <i class="fa fa-map-marker"></i> Sanfebagar Municipality -6, Airport Bazar, Sanfebagar, Achham, Nepal<br />
                <i class="fa fa-phone"></i> +977-097-(625032)<br />
                <i class="fa fa-envelope"></i> wacnepal.ntc.net.np<br />
                <i class="fa fa-envelope"></i> wacnepal09@gmail.com
            </div>

            <div class="col-4 col-m-4">
                <div class="circle">2</div>
                <i class="fa fa-building"></i> Branch Office<br />
                <i class="fa fa-map-marker"></i> Mangelsen Municipality , mangalsen , Achham,Nepal<br />
                <i class="fa fa-phone"></i> +977-097-620297,620364<br />
                <i class="fa fa-envelope"></i> wacnepal.ntc.net.np<br />
                <i class="fa fa-envelope"></i> wacnepal09@gmail.com
            </div>
            <div class="col-4 col-m-4">
                <div class="circle">3</div>
                <!--Contact person-->
                <i class="fa fa-user"></i> Min Bahadur Kunwar<br />
                <i class="fa fa-star"></i> President<br />
                <i class="fa fa-mobile-phone"></i> 9759001149<br />
                <i class="fa fa-envelope"></i> mkunwar2009@gmail.com
            </div>
        </div>
        <div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d27853.475813341527!2d81.2178311!3d29.232834!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMjnCsDE0JzA1LjAiTiA4McKwMTInNTcuNiJF!5e0!3m2!1sen!2snp!4v1509788365477" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </section>
    </container>


