<div ng-show="loading" class="loading-outer"><div class="loading"><h1>LOADING...</h1></div></div>
<div class="divList" style="margin-top:60px;min-height:400px;width:1250px">
    <modal lolo="AddUpdateModel" modal-body="body" modal-footer="footer" modal-header="header" data-ng-click="ClearFields()"></modal>
    <a href="#AddUpdateModel" role="button" class="btn btn-success" data-toggle="modal" ng-click="ClearFields()">Add Story</a>
    <table cellpadding="12" class="table table-bordered table-hover">
        <tr>
            <td><b>ID</b></td>
            <td><b>Image</b></td>
            <td><b>Title</b></td>
            <!--<td><b>Description</b></td>-->
            <td><b>Youtube</b></td>
            <td><b>Action</b></td>
        </tr>
        <tr ng-repeat="story in stories">
            <td>
                {{$index + 1}}
            </td>
            <td>
                <img ng-src="/Handler/StoriesThumbnailHandler.ashx?id={{story.id}}" style="height:100px;" />
            </td>
            <td>
                {{story.title}}
            </td>

            <!--<td>
                <div class="textLimit" ng-bind-html="story.description"></div></td>-->
            <td>
                {{story.ytubeLink}}
            </td>
            <td>
                <a href="#AddUpdateModel" role="button" data-ng-click="editRecord(story)" class="btn btn-success" data-toggle="modal">Edit</a>
                <span data-ng-click="deleteRecord(story.id)" class="btn btn-danger">Del</span>
            </td>
        </tr>
    </table>
    <div class="row" style="text-align:center"><span class="loadMore" ng-click="GetAll()"><a>Load More <i class="fa fa-chevron-down"></i></a> </span> <!--<span ng-show="spinner"><i class="fa fa-spinner"></i></span>--></div>
</div>



<div id="AddUpdateModel" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" data-ng-click="ClearFields();" aria-hidden="true">&times;</button>
                <p class="divHead">{{Action}} Projects</p>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="title" class="col-md-2 control-label">Id</label>
                        <div class="col-md-10">
                            <input type="text" data-ng-model="story.id" name="title" class="form-control" disabled="disabled" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="title" class="col-md-2 control-label">Title</label>
                        <div class="col-md-10">
                            <input type="text" data-ng-model="story.title" name="title" class="form-control" required />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="title" class="col-md-2 control-label">Description</label>
                        <div class="col-md-10">
                            <textarea ui-tinymce data-ng-model="story.description" name="description" class="form-control"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="description" class="col-md-2 control-label">YouTueb Link</label>
                        <div class="col-md-10">
                            <input type="text" data-ng-model="story.ytubeLink" name="youtub" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="attachment" class="col-md-2 control-label">Image</label>
                        <section class="uploadMain">
                            <div class="col-md-10">
                                <div ng-show="imageCropStep == 1">
                                    <br />
                                    <input type="file" class="form-control" name="fileInput" id="fileInput" onchange="angular.element(this).scope().fileChanged(event)" />
                                </div>
                            </div>
                            <div ng-show="imageCropStep == 2">
                                <!-- <image-crop
                                  data-height="200" //shape's height
                                  data-width="150" //shape's width
                                  data-shape="square" //the shape.. square or circle
                                  data-step="imageCropStep"//scope variable that will contain the current step of the crop (1. Waiting for source image; 2. Image loaded, waiting for crop; 3. Crop done)
                                  src="imgSrc" //scope variable that will be the source image for the crop (may be a Blob or base64 string)
                                  data-result-blob="result" //scope variable that will contain the Blob information
                                  data-result="resultDataUrl" //scope variable that will contain the image's base64 string representation
                                  crop="initCrop" //scope variable that must be set to true when the image is ready to be cropped
                                  padding="250" //space, in pixels, rounding the shape
                                  max-size="1024" //max of the image, in pixels
                                ></image-crop> -->

                                <image-crop data-height="540"
                                            data-width="840"
                                            data-shape="rectangle"
                                            data-step="imageCropStep"
                                            src="imgSrc"
                                            data-result="result"
                                            data-result-blob="resultBlob"
                                            crop="initCrop"
                                            padding="100"
                                            max-size="1024"></image-crop>
                            </div>

                            <div ng-show="imageCropStep == 2">
                                <br />
                                <button ng-click="clear()">Cancel</button>
                                <button ng-click="initCrop = true">Crop</button>
                            </div>

                            <div ng-show="imageCropStep == 3">
                                <img ng-src="{{result}}" class="cropped" data-ng-model="story.base64"></img>

                                <button ng-click="clear()">Cancel</button>

                            </div>

                        </section>
                    </div>

                    
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" data-ng-click="ClearFields();">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" data-ng-click="AddUpdateRecord(story);">Save</button>
            </div>
        </div>
    </div>
</div>