body {
}
.CpanelMenu{width:100%}
.CpanelMenu a{border:thin solid #DADADA;display:block;text-decoration:none;float:left; text-decoration: none; float: left; padding: 20px; margin: 20px; background-color: yellowgreen;}
.CpanelMenu a:hover{background-color:aliceblue;color:green;border:thin solid #DADADA}

.txtArea-large{ max-width:1035px; width:100%; min-height:350px ; margin:auto }
td{
    padding:6px;border-right: thin solid #AAAAAA; border-bottom: thin solid #BFBFBF;}
.backend{ max-width:1280px;margin-left: 15px;width:100%;padding-top:60px; }

#responsive-menu {height:100%; clear: both;background-color: #292929;position:relative;z-index:333;right:0px;top: 60px;}

 #responsive-menu a{  padding: 10px 40px 10px 40px; height:35px; font-size: 23px;display: block; text-decoration: none;color:aliceblue;     }
  #responsive-menu a:hover{ background-color:gray;   }

 aside{right: 0px;height: 100%;background-color: #292929;min-width:40px;position:fixed;z-index:99}

.btn-success {color: white; border: none; width: 90px;cursor: pointer;margin: 5px;
    background-color: #337AB7;
    border-radius: 5px;
    text-decoration:none;
    /*padding: 3px 15px 3px 15px;*/
    font-size:initial;
    text-align:center;
    padding: 8px;
    display:block;
}
.btn-success:hover {    opacity: 0.8; }
#action a{width: inherit;font-size: 19px;}
.message{display:block;color:aliceblue;color: aliceblue; width: 100%;text-align: center; font-size: 25px;width:100%;position:fixed}
.loginForm{width:40%;margin:auto}