
<container ng-controller="detailCntrl" >
    <section class="row" style="padding-top:25px;margin:2%;">
        <div class="col-8 col-m-12 ">
            <div ng-show="loading" class="loading"><h1>LOADING...</h1></div>
            <article style="width:100%;border: thin solid #c1c1c1;box-shadow: 1px 1px 10px #c1c1c1;min-height:700px">
                <img src="../../../Handler/ProjectImageHandler.ashx?id={{transferedObject.id}}" style="width:100%;height:auto;float:left" />
                <article style="margin:3%;display:inline-block;text-align:justify;width:94%">
                    <h1>{{transferedObject.title}}</h1>
                    <p>{{transferedObject.description | htmlToPlaintext}}</p>
                    <br />
                    <b>Project Duration: </b> {{transferedObject.duration}}<br>
                    <b>Project Category: </b>{{transferedObject.category}}<br><br>
                    <div style="float:right"><b>Posted Date: </b>{{transferedObject.posted_date.slice(6,-2) |  date:'yyyy-MM-dd'}}</div>
                </article>
            </article>
        </div>



        <div class="col-4 col-m-12">
            <aside>
                <article id="title-box">
                    <!--<div id="title" style="min-width:235px">Recent </div>-->
                </article>

            </aside>
        </div>
    </section>
</container>
